tracker_token: somehexstring
tracker_project_id: 7178
tracker_requester: Jonathan Baudanza

jira_login: jon
jira_password: gummybears
jira_host: jira.rupture.ea.com
jira_uri_scheme: https
jira_port: 443
jira_project: WEB
